<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Warrior Mortgage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>    
    <style type="text/css">
      nav {
        text-align: center;
        height: 75px;
      }
      footer {
        position: fixed;
        bottom: 0;
        width: 100%
      }
        body, html {
        height: 100%;
      }
      .bg { 
        /* The image used */
        background-image: url("https://i0.wp.com/lilar.com/wp-content/uploads/2016/10/Savin-NY-Website-Background-Web.jpg?ssl=1");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>

<script>

  function stat(){
        var id=$("#wref").val();
        var request = new XMLHttpRequest()
        request.open('GET','http://assignment5grp10.azurewebsites.net/BrokerMortgage/find?id='+id,true)
        request.onload = function(){
          var data = JSON.parse(this.response)
          if(!$.trim(data)){
            $("#modstatus").html("Mortgage ID does not exist!");
          }
          else{
            data.forEach(element =>{
              $("#modstatus").html("Mortgage ID: "+ element.id + "&ensp;&ensp; Status: " + element.status);
            });
          }
        }
        request.send()
  }

  $(document).ready(function(){
    $("#apply4Mortgage").click(function(){

      if($(("#mortgage"==null)||("#fname"==null)||("#lname"==null)||("#address"==null)||("#cname"==null)||("#email"==null)||("#phone"===null))){
        $("#feedback").html("Incomplete form!");
      }

      var form_firstname=$("#fname").val();
      var form_lastname=$("#lname").val();
      var form_address=$("#address").val();
      var form_employer=$("#cname").val();
      var form_email=$("#email").val();
      var form_phone=$("#phone").val();
      var form_amount=$("#mortgage").val();
        
      $.post("http://assignment5grp10.azurewebsites.net/BrokerMortgageController/createLoan_805",{
        submitted_firstname: form_firstname,
        submitted_lastname: form_lastname,
        submitted_address: form_address,
        submitted_employer:form_employer,
        submitted_email: form_email,
        submitted_pnumber: form_phone,
        submitted_amount: form_amount
      },

      function(data, status){
        $("#feedback").html(data['regSuccess']);
        var request = new XMLHttpRequest()
        request.open('GET','http://assignment5grp10.azurewebsites.net/BrokerMortgage/find?employeeEmail='+form_email,true)
        request.onload = function(){
          var data = JSON.parse(this.response)
          data.forEach(element => {
            $("#modstatus").html("Mortgage ID: "+ element.id + "&ensp;&ensp; Status: " + element.status);
          });
        }
        request.send()
        $("#dataform")[0].reset();
      });
    });
  });
  
  </script>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand mx-auto" href="/">Warrior Mortgage</a>
    </nav>
    <br><br><br>
    <div class="bg">
    <div class="container">
      <div class="row">

        <div class="col-sm">
          <form id="dataform" onkeydown="return event.key != 'Enter';">
            <div class="card text-center">
              <div class="card-header">Form Annexure W-I</div>
              <div class="card-body">
                <h5 class="card-title">Loan Aplication</h5>
                <p class="card-text">Fill up the form below to get a line of credit approved</p>

                <div class="input-group">
                  <input type="text" name="fname" id="fname" placeholder="First Name" class="form-control" required/>&ensp;&ensp;
                  <input type="text" name="lname" id="lname" placeholder="Last Name" class="form-control" required/>
                </div><br>
                
                <div class="input-group">
                  <input type="text" name="address" id="address" placeholder="Current living Address" class="form-control" required/>
                  <div class="input-group-append">
                    <button class="btn btn-dark" type="button" disabled>Type to select&nbsp;</button>
                  </div>
                </div><br>

                <div class="input-group">
                  <input type="text" name="cname" id="cname" placeholder="Current Employer Name" class="form-control" required/>
                  <div class="input-group-append">
                    <button class="btn btn-dark" type="button" disabled>Pitney Bowes&nbsp;&nbsp;</button>
                  </div>
                </div><br>
                
                <div class="input-group">
                  <input type="email" name="email" id="email" placeholder="Company Email" class="form-control" required/>
                  <div class="input-group-append">
                    <button class="btn btn-dark" type="button" disabled>abcd@pb.com</button>
                  </div>
                </div><br>

                <div class="input-group">
                  <input type="number" min="1000000000" max="9999999999" step="1" name="phone" id="phone" placeholder="Phone Number" class="form-control" required/>
                  <div class="input-group-append">
                    <button class="btn btn-dark" type="button" disabled>9022223654&nbsp;&nbsp;</button>
                  </div>
                </div><br>


                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-dark" type="button" disabled>CA $</button>
                  </div>
                  <input type="number" step="1" min="1" name="mortgage" id="mortgage" placeholder="Mortgage Amount Requested" class="form-control" required/>
                </div><br>
                
                <button class="btn btn-success" id="apply4Mortgage" type="button">Submit</button>
              </div>
              <div class="card-footer text-muted"><a id="feedback"></a></div>
            </div>
          </form>
        </div>

        <div class="col-sm">
          <form onkeydown="return event.key != 'Enter';">
            <div class="card text-center">
              <div class="card-header">Form Annexure W-II</div>
              <div class="card-body">
                <h5 class="card-title">Loan Status Check</h5>
                <p class="card-text">Enter your unique reference number generated by Annexure W-I below to see the status of your application</p>
                <div class="input-group">
                  <input type="text" name="wref" id="wref" placeholder="Loan Reference #ID" class="form-control" required/>
                  <div class="input-group-append">
                    <button class="btn btn-dark" type="button" id="wref_status" disabled>wref-xxxx-abcd-xxxx</button>
                  </div>
                </div><br>
                <button class="btn btn-success" id="checkMortStatus" type="button" onclick='stat()'>Submit</button>
              </div>
              <div id="modstatus" class="card-footer text-muted"> </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </div>
</body>
</html>